body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

a {
    text-decoration: none;
}

/* Header */

a {
    color: #000;
}

.header_container {
    width: 20%;
    display: flex;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

header img {
    width: 191px;
    height: 90px;
    margin-left: 50px;
}

nav {
    width: 80%;
    display: flex;
    justify-content: flex-end;

}

nav a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}

h1 {
    font-size: 24px;
}

/* Zone recherche */

.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    margin-right: -4px;
}

#input_bar {
    padding: 11px;
    border: 2px solid #f2f2f2;
    font-weight: 700;

}



form button {
    background-color: #0065fc;
    padding: 12px;
    color: white;
    font-weight: 700;
    margin-left: -5px;
    border-radius: 10% 10% 10% 10% / 0% 25% 25% 0%;
    border: 0;

}

/* Filtres */



.filter_box {
    display: inline-flex;
    justify-content: flex-start;
    margin-bottom: 5px;

}

h2 {
    font-size: 18px;
}

.fa-money-bill-wave {
    color: rgb(0, 101, 252);
    position: relative;
    padding: 10px;
    margin-right: -15px;
    border-radius: 100%;
    background-color: rgb(222, 235, 255);
    z-index: 2;


}

.fa-child-reaching {
    color: rgb(0, 101, 252);
    position: relative;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: -15px;
    border-radius: 100%;
    background-color: rgb(222, 235, 255);
    z-index: 2;


}

.fa-heart {
    color: rgb(0, 101, 252);
    position: relative;
    padding: 10px;
    margin-right: -15px;
    border-radius: 100%;
    background-color: rgb(222, 235, 255);
    z-index: 2;

}

.fa-dog {
    color: rgb(0, 101, 252);
    position: relative;
    padding: 10px;
    margin-right: -15px;
    border-radius: 100%;
    background-color: rgb(222, 235, 255);
    z-index: 2;

}



.filter_container {
    font-weight: bold;
    position: relative;
    color: black;
    background-color: transparent;
    padding: 8.6px;
    padding-left: 25px;
    margin-right: 25px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 0 20px 20px 0;
    border-left: none;
    z-index: 1;
}

.fa-info {
    color: rgb(0, 101, 252);
}



.information .fa-info {

    border: 2px solid rgb(241, 241, 241);
    border-radius: 100%;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Hébergements à Marseille */

h3 {
    font-size: 24px;

}

.lodgings {
    width: 68%;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 5% 5% 5% 5% / 11% 10% 10% 12%;
}

.marseille_lodgings {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.marseille_lodgings h2 {
    display: block;
    width: 100%;
}

.more_lodgings {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.rating_5star .fa-star {
    color: rgb(0, 101, 252);

}

.rating_4star .fa-star {
    color: rgb(0, 101, 252);
}

.rating_4star .fa-star:nth-child(5) {
    color: #f2f2f2;
}

.rating_3star .fa-star {
    color: rgb(0, 101, 252);
}

.rating_3star .fa-star:nth-child(4){
    color: #f2f2f2;
}

.rating_3star .fa-star:nth-child(5) {
    color: #f2f2f2;
}

.card {
    width: 30%;
    padding: 10px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 25px;


}

.card_image {
    height: 125px;
    overflow: hidden;
    border-radius: 12% 12% 12% 12% / 12% 10% 0% 0%;
}

.card_image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
   
    

}

.card_title {
    text-align: left;
    padding: 10px;
}

.card_excerpt {
    text-align: left;
    padding: 10px;
}

/* Les plus populaires */

.most_popular {
    width: 28%;
    /*display: flex;
    flex-wrap: wrap;*/
}

.most_popular_contents {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;

}

.aside_card {
    width: 50%;
    
    background-color: white;
    border: 1px solid black;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 20px #999;
    border-radius: 10% 10% 10% 9% / 9% 10% 10% 10%;

}

.aside_card_image {

    height: 100px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 10% 10% 10% 10% / 12% 0% 0% 11%;

}

.aside_card_image img {
    width: 50%;
    height: 100%;
    
    top: 2%;

}

.aside_card_title {
    text-align: left;
    justify-self: baseline;
    align-self: flex-end;
    border: 1px solid black;
}

.aside_card_excerpt {
    text-align: left;
    align-self: flex-end;
    border: 1px solid black;
}

/* Footer */

footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;

}



.footer_nav {
    list-style-type: none;

}