

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    max-width: 1440px; 
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

a {
    text-decoration: none;
}

/* Header */

a {
    color: #000;
}

.header_container {
    width: 20%;
    display: flex;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

header img {
    width: 191px;
    height: 90px;
    margin-left: 50px;
}

nav {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    
}

nav a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}

/* Zone recherche */

.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    margin-right: -4px;
}

#input_bar {
    padding: 11px;
    
}



form button {
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    
}

/* Filtres */

.fa-money-bill-wave {
    color: #0065fc
}

.fa-child-reaching {
    color: #0065fc
}

.fa-heart {
    color: #0065fc
}

.fa-dog {
    color: #0065fc
}