body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
/* Header */
a {
    color: #000;
}
header a:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
}
.header_container {
    width: 20%;
    display: flex;
}
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header img {
    width: 50%;
    margin-left: 5px;
    margin-top: 15px;
}
nav {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
nav a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
h1 {
    font-size: 24px;
}
.mobile_separator {
    display: none;
    width: 768px;
    height: 3px;
    margin-top: 10px;
}
.left_separator {
    background-color: #f2f2f2;
    width: 100%;
    height: 3px;
}
.right_separator {
    background-color: #0065fc;
    width: 100%;
    height: 3px;
}
/* Zone recherche */
.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    margin-right: -4px;
}
#input_bar {
    padding: 11px;
    border: 2px solid #f2f2f2;
    font-weight: 700;
}
form button {
    background-color: #0065fc;
    padding: 12px;
    color: white;
    font-weight: 700;
    margin-left: -5px;
    border-radius: 10% 10% 10% 10% / 0% 25% 25% 0%;
    border: 0;
}
/* Filtres */
.filter_box {
    display: inline-flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}
h2 {
    font-size: 18px;
}
.fa-money-bill-wave {
    color: rgb(0, 101, 252);
    position: relative;
    padding: 10px;
    margin-right: -15px;
    border-radius: 100%;
    background-color: rgb(222, 235, 255);
    z-index: 2;
}
.fa-child-reaching {
    color: rgb(0, 101, 252);
    position: relative;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: -15px;
    border-radius: 100%;
    background-color: rgb(222, 235, 255);
    z-index: 2;
}
.fa-heart {
    color: rgb(0, 101, 252);
    position: relative;
    padding: 10px;
    margin-right: -15px;
    border-radius: 100%;
    background-color: rgb(222, 235, 255);
    z-index: 2;
}
.fa-dog {
    color: rgb(0, 101, 252);
    position: relative;
    padding: 10px;
    margin-right: -15px;
    border-radius: 100%;
    background-color: rgb(222, 235, 255);
    z-index: 2;
}
.filter_container {
    font-weight: bold;
    font-size: small;
    position: relative;
    color: black;
    background-color: transparent;
    padding: 8.6px;
    padding-left: 25px;
    padding-bottom: 5px;
    margin-right: 25px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 0 20px 20px 0;
    border-left: none;
    z-index: 1;
}

.filter_contents .filter_container:hover{
    background-color: #0065fc;
    color: white;
}

.fa-dog:hover {
    background-color: #0065fc;
    color: rgb(222, 235, 255);
}

.fa-info {
    color: rgb(0, 101, 252);
    border: 2px solid rgb(241, 241, 241);
    border-radius: 100%;
}
.information .fa-info {
    margin-right: 5px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Main */
#main_block {
    display: flex;
}
/* Hébergements à Marseille */
h3 {
    font-size: 24px;
}
.lodgings {
    width: 70%;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 15px;
}
.marseille_lodgings {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.marseille_lodgings h2 {
    display: block;
    width: 100%;
}
.more_lodgings {
    display: block;
    width: 100%;
    margin-top: 15px;
}


.rating_5star .fa-star {
    color: rgb(0, 101, 252);
    font-size: 14px;
    display: flex;
}
.rating_4star .fa-star {
    color: rgb(0, 101, 252);
    font-size: 14px;
}
.rating_4star .fa-star:nth-child(5) {
    color: #f2f2f2;

}
.rating_3star .fa-star {
    color: rgb(0, 101, 252);
    font-size: 14px;
}
.rating_3star .fa-star:nth-child(4) {
    color: #f2f2f2;
}
.rating_3star .fa-star:nth-child(5) {
    color: #f2f2f2;
}
.card {
    
    width: 30%;
   
    padding: 8px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 25px;
}
.card_image {
    height: 125px;
    overflow: hidden;
    border-radius: 8% 8% 8% 8% / 12% 10% 0% 0%;
}
.card_image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.card_title {
    text-align: left;
    margin-top: 5px;
}
.card_description {
    margin-top: 5px;
}
.card_excerpt {
    text-align: left;
    margin-top: 2px;
}
/* Les plus populaires */
.most_popular {
    width: 30%;
    margin-left: 20px;
    padding: 22px;
    background-color: #f2f2f2;
    border-radius: 15px;
}
.most_popular_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.hotel_name {
    font-size: 16px;
    margin-left: 8px;
}
.most_popular_contents .rating_5star {
    color: rgb(0, 101, 252);
    margin-left: 8px;
}
.most_popular_contents .rating_4star {
    color: rgb(0, 101, 252);
    margin-left: 8px;
}
.most_popular_star {
    display: inline;
    color: black;
    margin-left: 110px;
}
.card_popular {
    margin: 0 auto;
    display: flex;
    padding: 5px;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 25px;
    width: 90%;
    
}
.card_popular_image {
    width: 150px;
    height: 150px;
}
.hotel>p {
    margin-left: 8px;
    padding-bottom: 18px;
}
.card_popular_image>img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.rating_5star {
    display: flex;
}
/* Activités à Marseille */
.marseille_activities {
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: flex-start;
}
.activity_block1 {
    width: 25%;
    height: 100%;
}
.activity_block2 {
    width: 25%;
    padding: 1%;
}
.activity_block3 {
    width: 25%;
}
.activity_block4 {
    width: 25%;
    padding: 1%;
}
.activity_card {
    box-shadow: 0px 0px 2px 1px #D6D6D6;
    border-radius: 25px;
    width: 95%;
    height: 90%;
    margin-top: 13px;
    
}
.activity_card_alt {
    box-shadow: 0px 0px 2px 1px #D6D6D6;
    border-radius: 25px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 60px;
    height: 39%;
    width: 95%;
}
.activity_card_image {
    height: 90%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}
.activity_card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.activity_card_title {
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.activity_card_alt_title {
    padding: 30px;
    padding-bottom: 20px;
    margin-top: -16px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
/* Footer */
footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}
.footer_section {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.footer_title {
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}
.footer_link {
    padding-bottom: 12px;
}

/* ---- Responsive ---- */
/*DESKTOP*/ 
 @media screen and (min-width: 993px) and (max-width: 1440px) {

   header img {
        border: 3px solid red;
        
        max-width: 150px;
        padding: 10px;
    }

    nav a {
        justify-content: flex-end;
    }

   
    #main_block {
        display: flex;
        flex-direction: column-reverse;
    }

    .lodgings {
        background-color: white;
        
        width: 100%;
        
   }

    .card {
        width: 25%;
    }

    .most_popular {
        width: 100%;
        border-radius: 0;
        
    }

    .most_popular_star {
        color: red;
        border: 3px solid green;
        float: right;
        margin-left: 0;

    }

   
    
   .most_popular_contents {
        display: flex;
        flex-direction: row;
   }

   
   
   .card_popular {
        width: 90%;
        height: 80%;
        
   }

   .hotel_name {
        font-size: 16px;
        margin-top: 20px;
   }
    
    .marseille_activities {
        width: auto;
        height: auto;
        display: block;
   }
    .activity_block1 {
        width: auto;
        display: flex;
   }
    .activity_block2 {
        width: 100%;
        display: block;
   }
    .activity_block3 {
        width: auto;
        display: flex;
   }
    .activity_block4 {
        width: 100%;
        display: block;
   }
    .activity_card {
        height: 39%;
        width: 95%;
        margin-bottom: 50px;
        margin-left: 310px;
   }
    .activity_card_alt {
        width: 400px;
        height: 210px;
        margin-left: 310px;
   }
}

/* Tablette */
@media screen and (min-width: 768px) and (max-width: 992px)  {
    header {
        display: block;
    }

    .header_container {
        width: 100%;
        
    }
    
    header img {
        padding: 10px;
        margin: 0px auto;
        max-width: 150px;
        border: 3px solid green;
        
    }

    nav {
        width: 100%;
        
        justify-content: center;
        border-bottom: 3px solid #f2f2f2; ;
    }

    nav a:hover {
        border-bottom: 3px solid rgb(0, 101, 252);
    }

    

    #main_block {
        display: flex;
        flex-direction: column-reverse;
    }

    .lodgings {
        background-color: white;
        
        width: 100%;
        
   }

   .marseille_lodgings {
        flex-direction: column;
        align-items: center;
   }

   .most_popular {
        width: 100%;
   }

   .card_popular {
        width: 45%;
   }

   .card {
        width: 45%;
   }

   .marseille_activities {
    width: auto;
    height: auto;
    display: block;
    }
    .activity_block1 {
    width: auto;
    display: block;
    }
    .activity_block2 {
    width: 100%;
    display: block;
    }
    .activity_block3 {
    width: auto;
    display: block;
    }
    .activity_block4 {
    width: 100%;
    display: block;
}

    .activity_card {
    
       
        width: 45%;
    
    margin: 0px auto;
    
    }   
    .activity_card_alt {
    
        height: 39%;
        width: 95%;

    margin: 0px auto;
    
    }   

}

/* Mobile */
@media screen and (min-width: 375px) and (max-width: 768px) {
   
    header {
        display: block;
    }
    
    .header_container img {
        border: 3px solid blue;
    }

    header a:hover {
        border-top: 0;
    }

    

    
}






/*

TODO :: 

- Ne pas mettre de décimal
- 0 px ou 0em ou 0% = 0 donc pas besoin d'unités de mesure.





- Activité à Marseille augmenter l'espace entre les images ( Verticalement )


https://codepen.io/pown3d/pen/GRMQEXL

*/